* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#form {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background: #acf7f4;
    color: #292727;
    padding: 50px 0;
}

.google {
    display: flex;
    flex-direction: column;

    border: 1px solid;
    margin-left: 2%;
    padding: 8px;
}

.login {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    border: 1px solid;
    margin-left: 2%;
    padding: 8px;

}

.datos {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    border: 1px solid;
    margin-left: 2%;
    padding: 8px;

}
.pass{
    display: flex;
    justify-content: left;
    margin-left: ;
}

#arriba {
    display: flex;

    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 1rem;
    right: 1rem;

    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: var(--margen);

    width: 2rem;
    height: 2rem;
}