* {
    box-sizing: border-box;
}



:root {
    --color-tinta: rgb(22, 22, 22);
    --color-fondo: rgb(233, 233, 233);
    --color-enlace: rgb(39, 107, 183);
    --margen: 1rem;
    --color-fondo--alternativo: rgb(236, 190, 190);
}

body {
    font-family: sans-serif;
    color: var(--color-tinta);
    background-color: var(--color-fondo);


}

nav,
h1 {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;

}

nav li {
    list-style: none;
    margin: var(--margen);

}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-enlace);
}

main {
    padding: var(--margen);
}

h2 {
    text-align: center;
    border-bottom: 1px solid var(--color-tinta);
    text-transform: uppercase;
}

h2::before,
h2::after {
    content: "--- ";

}

h3 {
    background-color: lightgray;
    padding: var(--margen);
    border-radius: var(--margen);
}

p {
    line-height: calc(1rem + var(--margen));
    margin: calc(1rem + var(--margen) *2) 0;
    text-align: justify;
}

pre {
    padding: var(--margen);
}

ol ol {
    list-style: lower-alpha;
    padding-left: calc(var(--margen) * 2);

}

ul {
    list-style-position: inside;
    list-style: none;
}

li {
    list-style: none;
}

dt {
    margin: var(--margen);
    font-weight: bold;
}

dd {
    margin-left: calc(var(--margen) * 2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead,
tfoot {
    background-color: var(--color-fondo--alternativo);

}

th,
td {
    border: 1px solid lightgray;
    padding: var(--margen);
}

tr th:first-of-type {
    text-align: right;
}

tr th:not(first-of-type) {
    text-align: left;
}

caption {
    background-color: var(--color-fondo--alternativo);
    border: 1px solid lightgray;
    font-weight: bold;
    padding: var(--margen);
}

tr:nth-child(even) {
    background-color: var(--color-fondo--alternativo);
}

#multimedia * {

    width: 100%;
}

img {
    max-width: 50%;
}

button,
select,
textarea,
fieldset {
    border-radius: 0.5em;

}



.google {
    display: flex;
    flex-direction: column;

}

.login,
input,
label,
button {
    display: flex;
    flex-direction: column;
    padding: 8px;


}

.datos {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.checks {
    display: flex;
    flex-direction: row;
    padding: 8px;

}

#arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--margen);
    padding: var(--margen);
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav li {
        margin: 0;
    }

    nav a {
        padding: var(--margen);
    }

    nav a:hover {
        color: var(--color-tinta);
        background-color: var(--color-fondo);
    }

    footer {
        display: flex;
    }

    footer p {
        padding: var(--margen);
        margin: 0;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        gap: var(--margen);
    }

    h2 {
        width: 100%;
    }

    #parrafos,
    #listas {
        width: calc(50% - var(--margen) / 2);
    }

    #tablas {
        width: 100%
    }

    form:first-of-type {
        display: flex;
    }

    input[name=q] {
        flex-grow: 1;
    }

    form:nth-of-type(2) div {
        display: flex;
        align-items: baseline;
    }

    form:nth-of-type(2) label {
        width: 7rem;
    }

    #formularios fieldset:last-of-type {
        display: flex;
        flex-wrap: wrap;
        gap: var(--margen);
    }

    #formularios fieldset:last-of-type>*:not(legend) {
        width: calc(50% - var(--margen) / 2);
    }

    #formularios fieldset:last-of-type>textarea {
        width: 100%;
    }
}

@media (min-width: 1440px) {

    article#html {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: repeat(3, auto); */
        justify-items: stretch;
    }

    article#html>*{
        max-width: 100;
    }
    h2 {
        grid-column-end: span 6;
    }

    #parrafos {
        grid-column-end: span 2;
    }

    #listas {
        grid-column-end: span 1;
        /* Por defecto es 1 así que no haría falta ponerlo */
    }

    #tablas {
        grid-column-end: span 3;
        /* Si quieres que ocupe 2 hay que poner 3; son las líneas que cuenta, no el número de columnas */
    }

    #multimedia, #formualrios{
        grid-column-end: span 3;
    }

}

@media (min-width: 2560px){
    h2{
        grid-area: titulo;
    }

    parrafos{
        grid-area: parrafos;
    }
    listas{
        grid-area: listas;
    }
    tablas{
        grid-area: tablas;
    }
    multimedia{
        grid-area: multimedia;
    }

    #formularios{
        grid-area: formularios;
    }


    article#html{
        grid-template-areas: 
        "titulo titulo titulo titulo titulo titulo"
       
        "parrafos listas tablas multimedia formularios  formularios "
        ". . . . formularios formularios"
    }
}

@media print{
    body>nav, audio, video, .proporcion:not(:first-of-type), #formularios{
        display: none;
    }

    h1, aside, a , footer{
        color: black;
    }
}